<%- include('partials/header') %>

<main class="d-flex justify-content-center">
    <h1>Welcome to my Team Picker</h1>
</main>
<p class="d-flex justify-content-center">You can create cohorts and generate teams based on team or people quantity</p>

<%- include('partials/footer') %>
